.swatch_1 {
  background: #ffffff;
}
.swatch_2 {
  background: #050a0d;
}
.swatch_3 {
  background: #007631;
}
.swatch_4 {
  background: #0d9152;
}
.swatch_5 {
  background: #566065;
}
.swatch_6 {
  background: #a8c7bf;
}
.swatch_7 {
  background: #61c8a1;
}
.swatch_8 {
  background: #767f83;
}
