{
	"trailingComma": "all",
	"useTabs": true,
	"overrides": [
		{
			"files": "**/*.md",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		},
		{
			"files": "**/package.json",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
