name: CI tests

on:
  workflow_dispatch:
  push:
  pull_request:

defaults:
  run:
    working-directory: .

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node_version: [16]
        include:
          - os: ubuntu-latest
            node_version: 14
          - os: ubuntu-latest
            node_version: 18
      fail-fast: false
    name: "CI tests on node-${{ matrix.node_version }}, ${{ matrix.os }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Install pnpm
        uses: pnpm/action-setup@v2.1.0
        with:
          version: 7

      - name: Set node version to ${{ matrix.node_version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}
          cache: "pnpm"

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Run CI tests
        run: pnpm run ci
