name: Format

on:
  issue_comment:
    types: [created]

defaults:
  run:
    working-directory: .

jobs:
  format:
    if: ${{ github.event.issue.pull_request }} && ${{ github.event.comment.body }} == "/format"
    runs-on: ubuntu-latest
    name: "Format and commit back"
    steps:
      - name: Get comment branch
        uses: xt0rted/pull-request-comment-branch@v2
        id: comment-branch

      - name: Checkout ${{ steps.comment-branch.outputs.head_ref }}
        uses: actions/checkout@v4
        with:
          ref: ${{ steps.comment-branch.outputs.head_ref }}
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Set Node version to 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"

      - name: Install
        run: pnpm install

      - name: Set up git user
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "<>"

      - name: Format
        run: "pnpm run format"

      - name: "Commit formatted files"
        run: |
          git commit -am "chore: format files"
          git push origin ${{ steps.comment-branch.outputs.head_ref }}
